name: PR Checks

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies (monorepo)
        run: npm ci

      - name: Backend Lint
        working-directory: apps/backend
        run: npm run lint

      - name: Frontend Lint
        working-directory: apps/frontend
        run: npm run lint

      - name: Backend tests
        working-directory: apps/backend
        run: npm run test
 
      - name: Build backend
        working-directory: apps/backend
        run: npm run build

      - name: Build frontend
        working-directory: apps/frontend
        run: npm run build
      