name: PR Checks

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies (monorepo)
        run: npm ci

      - name: Backend Lint
        working-directory: apps/backend
        run: npm run lint

      - name: Frontend Lint
        working-directory: apps/frontend
        run: npm run lint

      - name: Backend tests
        working-directory: apps/backend
        run: npm run test
 
      - name: Build backend
        working-directory: apps/backend
        run: npm run build

      - name: Build frontend
        working-directory: apps/frontend
        run: npm run build

      - name: Build backend Docker image
        run: docker build -t ecommerce-backend:ci -f apps/backend/Dockerfile .

      - name: Build frontend Docker image
        run: docker build -t ecommerce-frontend:ci -f apps/frontend/Dockerfile .  
  
  terraform:
    name: Terraform (fmt/validate)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate